.LoginBody{
    width: 100%;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;

}

.PhoneNumberHolder{
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.PasswordHolder{
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phoneNumber{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid blueviolet;


}
.password{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid blueviolet;

}
.ForgotPass{
    width: 20%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    p{
        cursor: pointer;
    }
}

.LoginButton{
    width: 80px;
    height: 40px;
    background-color:  blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}