.HeroBody {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  .directory{
    width: 86%;
    display: flex;
    justify-content: space-between;
  }
  

  .back {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: blueviolet;
    border: 2px solid blueviolet;
    font-weight: bolder;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
  }
  
  .back:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
  }
  .CardHolder {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  
  .Card {
    width: 20%;
    max-width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .Card:hover {
    transform: scale(1.05);
  }
  
  .CardImg {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .CardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .booktitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black; 
  }
  
  .author {
    font-size: 16px;
    font-weight: 500;
    color: black; 
    text-align: center;
  }
  .searchBarWrapper {
    width: 60%;
    /* margin: 20px auto; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: aqua;
  }
  
  .searchInput {
    width: 20%;
    /* max-width: 600px; */
    padding: 10px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .Card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .Card {
      width: 90%;
    }
  }
  